[Unit]
 Description=Incognita Raw Data Backup to Github
 After=multi-user.target

 [Service]
 WorkingDirectory=/home/mnalavadi/incognita/raw_data
 Type=idle
 ExecStart=/home/mnalavadi/miniconda3/envs/gps/bin/python git_commit_scheduler.py
 User=mnalavadi

 [Install]
 WantedBy=multi-user.target
